/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-transform*/
.fade-main-leave-active,
.fade-main-enter-active {
  transition: all .5s;
}

.fade-main-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-main-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
