a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

table {
    border-collapse: collapse; /*让表格边框细线*/
    border-spacing: 0; /*清除边框间距*/
}

button, input[type=button], input[type=submit], input[type=reset] {
    -webkit-apperance: button;
    cursor: pointer;
}

button[disabled], input[disabled] {
    cursor: not-allowed;
}

button {
    border: none;
    outline: none;
}

input {
    border: 1px solid #ccc;
    outline: none;
}

ol, ul { list-style: none; }

img {
    border: 0;
    vertical-align: middle;
}

em, i, u { font-style: normal; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
    font-size: 0;
}

.clearfix { *zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.hide { display: none; }

.show { display: block; }

/* 版心 */
.w {
    width: 1210px;
    margin: 0 auto;
}

html, body { width: 100%; height: 100%; }

body {
    font: 14px/150% Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

a { text-decoration: none; color: #409EFF; }

a:hover { text-decoration: none; }
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
}

.content {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 220px);
    padding: 20px;
    background-color: #fff;
}
.mr15 {
    margin-right: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}